body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.Title span {

    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    -webkit-animation: animate 1s linear forwards;
}
.hidden {
    display: none;
}

h1, h2 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.question {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.question label {
    display: block;
    margin-top: 10px;
}

#quiz-list {
    list-style: none;
    padding: 0;
}

#quiz-list li {
    margin-bottom: 10px;
}

#quiz-list li button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
}

#quiz-questions {
    margin-top: 20px;
}

#quiz-questions .question {
    margin-bottom: 20px;
}


#quiz-questions .question p {
    font-weight: bold;
    margin-bottom: 10px;
}

#quiz-questions .question label {
    display: block;
    margin-bottom: 5px;
}
